*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
:root{
    --blue: hsl(240, 81%, 6%);
    --light_blue: hsla(240, 61%, 19%, 0.5);
    --orange: hsl(24, 93%, 40%);
    --light_orange: hsla(24, 93%, 40%, 0.5);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}
main{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
header h1{
    font-weight: 5rem;
    font-size: 3em;
    font-family: fantasy;
    color: var(--blue);
}
header nav ul li{
    list-style: none;
    display: inline;
    margin: 0 1rem;
}
header nav ul li a{
    text-decoration: none;
    color: var(--blue);
}
header nav ul li a:hover{
    color: var(--light_orange);
}
.intro{
    position: relative;
    margin: 2rem 0;
}
.intro img{
    width: 100%;
}
.intro h1{
    color: var(--white);
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    font-size: 3em;
    width: 50%;
}
#programming-languages{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
#programming-languages>div{
    padding: 2rem;
    background-color: var(--light_blue);
    cursor: pointer;
    color: var(--orange);
}
#about-me{
    width: 100%;
    margin: 2rem 0;
}
.about-me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;

}
.about-me img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.about-me p{
    width: 50%;
}
#educational{
    width: 100%;
    margin-top: 2rem;
}
.educational{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}
.educational>div{
    background-color: var(--light_orange);
    padding: 1rem;
    cursor: pointer;
}
#interest{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}
#interest>div{
    padding: 1rem;
    background-color: var(--light_blue);
    cursor: pointer;
}
#projects{
    width: 100%;
    margin-top: 2rem;
}
.projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact{
    background-color: var(--light_orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.right ul{
    display: flex;
    gap: 1rem;
}
.right ul li{
    list-style: none;
}
.right ul li a img{
    width: 25px;
    height: 25px;
}
.right ul li a img:hover{
    transform: scale(1.5);
    transition: all 0.4s ease-in-out;
}
.left form input{
    padding: 1rem 10rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem 0;
    outline: none;
}
.left form textarea{
    width: 100%;
    margin-top: 1rem;
}
.left form button{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
}
@media (max-width:600px){
    .main{
        width: 100%;
        margin: 0;
    }
    header{
        display: inline;
    }
    header nav ul li{
        display: block;
    }
    .intro h1{
        font-size: 1.5rem;
    }
    .intro img{
        width: 100%;
    }
    #programming-languages{
        display: inline;
        width: 50%;
    }
    #programming-languages>div{
        margin: 1rem 0;
    }
    .about-me{
        display: inline;
    }
    .about-me img{
        border-radius: 0;
    }
    .about-me p{
        width: 100%;
    }
    .educational{
        display: inline;
    }
    .educational>div{
        margin: 1rem 0;
    }
    #interest{
        display: inline;
    }
    #interest>div{
        margin: 1rem 0;
    }
    .projects{
        display: inline;
    }
    #contact{
        flex-direction: column;
    }
    .left form input{
        padding: 1rem;
    }
    .left form button{
        padding: 1rem;
    }
}